<!DOCTYPE html>
<html lang="en">
<head>
	<title>Banco Plank</title>
	<% include partials/head %>
</head>
<body class="incio">

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Banco Plank</h1>
				<p>Iniciar Sesion o Resgistrarse</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Iniciar Sesion
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Resgistrarse
				</a>
			</div>
		</div>
	</div>

</body>
</html>
