<!DOCTYPE html>
<html class="perfil">
  <head >
    <meta charset="utf-8">
    <title>Perfil</title>
    <% include partials/head %>
  </head>
  <body class="perfil">
    <div class="container">
      <header class="text-center">
        <h1>Banco Plank</h1>
        <h2>Perfil</h2>
       
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> <%= user.local.nombre %></h3>
              <p>
                <strong>Numero de cuenta</strong> : <%= user._id %> <br>
                <strong>Saldo</strong> : <%= user.local.email %> <br>
                <strong>password</strong> : <%= user.local.password %>
              </p>
              <a href="/adtarge" class="btn btn-light btn-sm">
                Añadir Targeta
              </a>
              <a href="/logout" class="btn btn-light btn-sm">
                Desconectarse
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
