.login {
    background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #1a4d02);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #1a4d02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .signup {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5d7283, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5d7283, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .perfil {
    background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8efaf1, #18533d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8efaf1, #18533d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 .incio {
  background: white;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body{
  background: white;
background: -webkit-linear-gradient(to right, #a2e683, #7db6e9);
background: linear-gradient(to right, #a2e683, #7db6e9); 
}